/* Newsletter Section with Background Image */
.newsletter {
  background-image:url('../assets/Image/newslatter.jpg');
  background-size:cover;
  background-position: center;
  padding: 60px 20px;
  color: white;
  text-align: center;
  
}

.newsletter-overlay {
  background-color: rgba(0, 92, 151, 0.7); /* Blue semi-transparent overlay */
  padding: 40px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
}

.newsletter h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.newsletter input {
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 5px;
}

.newsletter button {
  padding: 10px 20px;
  background: orange;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* footer css  */

.footer {
  background: #ffffff;
  color: #000000;
  display: flex;
  justify-content: space-around;
  padding: 30px 20px;
  flex-wrap: wrap;
}

.footer-column h4 {
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin: 5px 0;
}
