.products {
  padding: 20px;
  background: #fff;
}

.products h2 {
  margin: 10px;
}

.product-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px;
}

.product-card {
  background: #fefefe;
  border: 1px solid #ddd;
  width: 200px;
  text-align: center;
  border-radius: 8px;
}
.imagecontainer{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card img {
  width: 80%;
  height: 80%;
}


.product-card button {
  margin-top: 10px;
  padding: 8px;
  background: orange;
  color: #fff;
  border: none;
  cursor: pointer;
  
}

.product-card button:hover{
  background-color: #91e80f;
}